# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install genbadge[tests,coverage]
    - name: Test with pytest
      run: |
        pytest --cov=. --cov-branch --cov-config=.coveragerc --doctest-modules --junitxml=htmlcov/junit.xml --cov-report=html --cov-report=xml --cov-report=json
    - name: Generate badges
      run: |
        genbadge tests -i htmlcov/junit.xml -o ./junit-badge.svg
        genbadge coverage -i ./coverage.xml -o ./coverage-badge.svg
    - name: commit badges
      uses: stefanzweifel/git-auto-commit-action@v7
      with:
        commit_message: 'Apply badges'
        file_pattern: 'junit-badge.svg coverage-badge.svg'